@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --s-start-0: 37%;
    --s-end-0: 90%;
    --y-0: 96%;
    --x-0: 11%;
    --c-0: rgb(28, 45, 121);
    --x-1: 95%;
    --c-1: hsla(272, 100%, 64%, 1);
    --y-1: 92%;
    --s-start-1: 31%;
    --s-end-1: 84%;
    --y-2: 7%;
    --s-start-2: 41%;
    --s-end-2: 61%;
    --c-2: rgb(38, 93, 175);
    --x-2: 58%;
    --x-3: 62%;
    --s-start-3: 22%;
    --s-end-3: 59%;
    --c-3: hsla(239, 76%, 52%, 1);
    --y-3: 35%;
    --s-start-4: 19%;
    --s-end-4: 70%;
    --y-4: 63%;
    --c-4: rgb(0, 0, 0);
    --x-4: 2%;
}
body {
/*     background-color: hsla(272, 59%, 39%, 1); */
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1495 1495' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"), radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
    /*animation: hero-gradient-animation 10s linear infinite alternate;*/
    background-attachment: fixed;
    overflow: auto;
 
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
 
#pokemonList{
    display: flex;
    width: 100vw;
    overflow: hidden;
    flex-wrap: wrap;;
    align-self: center ;
    gap: 10px;
    margin: 0;
    
}


form{
    margin-top: 50px;
    display: flex;
    color: #d4d4d4;

}

.card{
    background-color: #dfdfdf;
    border-radius: 35px 5px 35px 5px ;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.541);
    transition: 0.3s;
    text-align: center;
    color: #2d2d31;
    background-origin: padding-box;
    text-transform: capitalize;
    border: solid 4px #2d2d31;
    height: 12rem;
    width: 13rem;
    
}
.card-body {
    margin-bottom: auto;
}
.card-body > h5 {
    font-size: .9em;
    margin-bottom: 0;
    font-weight: bold;
    color: #242424;
}
.card > img{
    width: 70%;
    height: 80%;
    margin: 0 auto;
    display: block;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 19px 0 rgb(68, 68, 68);
    transition: 0.4s;
    text-size-adjust: 100%;
}
.card:hover>img{
    transition: 0.4s;
    transform: scale(1.5);

}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3b3b3b;
    font-size: 3.5em;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    text-shadow: 2px 2px 4px #525252e0;
    padding: auto;
    margin: auto;
}
#types{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 0;
    list-style: none;
    gap: 10px;
    color: #4b4b4b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9em;
}

span{
    font-weight:bold;
    text-transform: uppercase;
    font-size: small;
    padding: auto 0;
}

#scrollUP {
    background-color: #79557e48;
    display: ruby;
    color: rgb(85, 70, 70);
    padding: 10px 20px;
    border: none !important;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(88, 88, 88, 0.575);
    &:hover {
        background-color: #ad76bb;
    }
    &:active{
        border: none !important;

    }
}
#scrollUP > i{
    font-size: 1.5em;
    transition: color 0.3s ease;
    color: #fff;
    &:hover{
        color: #79557e;
    }
    
}

